html, body {
    width: 100%;
    height: 100%;
    color: black;
    background-image: url(aceisepicbg2.png);
    font-family: Verdana, Arial, Helvetica, sans-serif;
    text-align: center;
    overflow-x: hidden;
  }
  
  section {
    margin: auto;
    width: 740px;
    background-color: white;
    border: 1px solid black;
    box-shadow: -5px 5px 4px -3px black;
    padding: 0px 10px 0px;
  }
 